* {
    margin: 0;
    /*margin (отступ) в CSS определяет расстояние между элементом и его окружающими элементами. Он создает пустое пространство вокруг элемента
    , которое может быть использовано для установки отступов от соседних элементов, границ или внешнего контейнера.*/
    padding: 0;
    /*padding (внутренний отступ) в CSS определяет расстояние между содержимым элемента и его границами.
    Он создает пространство внутри элемента, в котором содержимое располагается.*/
    box-sizing: border-box;
    /*box-sizing - это CSS свойство, которое определяет, как должна быть вычислена общая ширина и высота элемента, включая его контент, границы и внутренние отступы.

    У свойства box-sizing есть два основных значения:
    
    content-box (значение по умолчанию): Это значение означает, что ширина и высота элемента будут включать только содержимое внутри него. Границы и внутренние отступы будут добавлены к этим размерам. Это означает
    , что общая ширина элемента будет равна ширине его содержимого плюс ширина границ и внутренних отступов, аналогично с высотой элемента.
    
    border-box: Это значение означает, что ширина и высота элемента будут включать содержимое, границы и внутренние отступы. Границы и внутренние отступы будут учтены внутри общих размеров элемента. Это означает
    , что общая ширина элемента будет равна указанной ширине, и любые границы и внутренние отступы будут занимать место внутри этой ширины.*/
}

body {
    display: flex;
    /*Свойство display в CSS определяет, как элемент должен быть показан на веб-странице.
     Оно определяет тип отображения элемента и влияет на его поведение и взаимное расположение с другими элементами.
     flex: Элемент становится контейнером гибкого контекста (flex-контейнером), что позволяет управлять расположением дочерних элементов с помощью гибкого макета.*/
    
     justify-content: center;
    /*Свойство justify-content в CSS применяется к контейнеру (например, элементу с display: flex или display: grid) 
    и управляет выравниванием дочерних элементов вдоль главной (горизонтальной) оси контейнера.
    Значение center для свойства justify-content центрирует дочерние элементы по горизонтали внутри контейнера. 
    Это означает, что они будут выровнены таким образом, чтобы средняя точка всех дочерних элементов была расположена в центре контейнера.*/
    
    align-items: center;/*Свойство align-items в CSS применяется к контейнеру (например, элементу с display: flex или display: grid) и 
    управляет выравниванием дочерних элементов вдоль поперечной (вертикальной) оси контейнера.
    Значение center для свойства align-items центрирует дочерние элементы по вертикали внутри контейнера.
    Это означает, что они будут выровнены таким образом, чтобы средняя точка всех дочерних элементов была расположена в центре контейнера по вертикали.*/
    height: 100vh;

    &._locked {
        overflow: hidden;
    }/*Свойство overflow определяет, как обрабатывать содержимое элемента, когда оно выходит за границы этого элемента.
         Значение hidden применяется для скрытия любого содержимого, которое выходит за пределы элемента. Это означает, 
         что все, что находится за пределами размеров элемента, не будет видимо для пользователя.*/
}

.modal__btn {

    border: none;/*Свойство border в CSS используется для задания стиля, ширины и цвета границы элемента. Значение none для свойства border указывает, что у элемента не будет границы.*/
    
    background-color: aqua;/*цвет фона элемента*/
    
    padding: 5px 10px;/*внутренний отступ внутри элемента*/
    
    columns: #fff;/*Свойство columns в CSS используется для задания многоколоночного макета для текста внутри элемента.
     Однако, в вашем примере значение #fff неправильно используется для свойства columns.*/
    display: flex;/*?????уточнить*/
    align-items: center;/*выравнивает дочерние эелемнты повертикали*/
    gap: 5px;/*Свойство gap в CSS используется для задания промежутка (зазора) между элементами внутри контейнера с использованием макета сетки (grid) или гибкого контекста (flex).
     Оно определяет расстояние между элементами по горизонтали и вертикали*/
    font-size: 20px;/*размер шрифта приминенного к определенному селектору*/
    cursor: pointer;/*меняет вид курсора*/
}

._modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    pointer-events: none;

    &._active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    padding: 20px;
}

.modal-body {
    padding: 24px;
    background-color: #fff;
    width: 700px;
    margin: auto;
    max-height: 90%;
    overflow: auto;
    border-radius: 1px;
    position: relative;

}

.modal-close {
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;


}